{% extends 'base.html.twig' %}

{% block title %}Games Liste{% endblock %}

{% block body %}

    <h1>sind Sie sicher dass Sie diesen Datensatz löschen wollen?</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}<a href= "{{ path("app_game_index") }}"><button type="button" name="btnCancel">nein</button></a>
    {{ form_end(form) }}

    {#<a href= "{{ path("app_game_index") }}"><button type="button" name="btnCancel">nein</button></a>#}

{% endblock %}