{% extends 'base.html.twig' %}

{% block title %}Games Liste{% endblock %}

{% block body %}

    <h1>Welcome</h1>

    <div>


        <table>
            <div class="row">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Plattform</th>
                <th>Review Score</th>
                <th>Entwickler</th>
                <th>Publisher</th>
                <tr></tr>
                <tr></tr>
            </tr>

            {% for game in games %}

            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.genre }}</td>
                <td>{{ game.releaseDate }}</td>
                <td>{{ game.plattform|join|raw }}</td>
                <td>{{ game.review }}</td>
                <td>{{ game.entwicklers|join|raw }}</td>
                <td>{{ game.publisher }}</td>
                <td><a href= "{{ path("app_game_changeGame", {'id':game.id}) }}"><button type="button"  name="btnChange">Eintrag ändern</button></a></td>
                <td><a href= "{{ path("app_game_deleteGame", {'id':game.id}) }}"><button type="button" name="btnDelete">Eintrag löschen</button></a></td>
            </tr>
            {% endfor %}
                {#{{ game.title }}#}


        </table>
        <a href= "{{ path("app_game_addGame") }}"><button type="button" name="btnYes">Spiel Hinzufügen</button></a>
    </div>

{% endblock %}